/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;




.gift{
    background-image: url("https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830__480.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 80px;
  }


  .coronaveg{
    background-image: url("https://cdn.pixabay.com/photo/2015/05/04/10/16/vegetables-752153__480.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 370px;
    height: 340px;
  }

